<!DOCTYPE html>
<html>
  <head>
       <meta charset="utf-8">
       <link href="layout_styles/style.css" rel="stylesheet">
        <title>布局</title>
  </head>
  <body>

      <h1>布局</h1>
      <div class="flex">
          <div id="box">
                 <img id="picture" src="layout_images/1.jpg" alt="长城">
              <h2>
                  长城
              </h2>
              <p> 
                 
                  中国古代的军事防御工事，是一道高大、坚固而且连绵不断的长垣,用以
                  限隔敌骑的行动。长城不是一道单纯孤立的城墙，而是以城墙为主体，
                  同大量的城、障、亭、标相结合的防御体系。长城不仅是中国也是世界上修建
                  时间最长、工程量最大的一项古代防御工程
              </p>
              <Button>READ MORE</Button>
          </div>
          <div  id="box">
               <img  src="layout_images/5.jpg" alt="西岭雪山">
              <h2>
                  西岭雪山
              </h2>
              <p>
                  西岭雪山景区分为前山茶地坪景区和后山滑雪场景区两大部分。其中，茶地坪景区以徒步
                  登山、观光为主，主要为徒步观赏水景、瀑布、桂花、杜鹃、奇石、云海、森林佛光等自
                  然景观。滑雪场景区以滑雪、滑草、运动以及观赏云海、日出、阴阳奇观等天象景观为主。
                  
              </p>
              <Button>READ MORE</Button>
          </div>
          <div id="box">
              <img  src="layout_images/9.jpg" alt="长江">
              <h2>
                长江
              </h2>
              <p>
                  发源于“世界屋脊”——青藏高原的唐古拉山脉各拉丹冬
                  峰西南侧。干流流经11个省级行政区(八省二市一区)，于
                  崇明岛以东注入东海，全长6397公里，在世界大河中长度仅次于非
                  洲的尼罗河和南美洲的亚马孙河，居世界第三位。长江是中华民族的母亲河。
              </p>
              <Button>READ MORE</Button>
          </div>
          <div  id="box">
                  <img  src="layout_images/13.jpg" alt="Huanglong">
              <h2>
             黄龙
              </h2>
              <p>
                  黄龙以彩池、雪山、峡谷、森林“四绝”著称于世，再
                  加上滩流、古寺、民俗称为“七绝”。黄龙沟内遍布碳酸
                  钙华沉积。并呈梯田状排列，以丰富的动植物资源享有“世界奇观”、“人间瑶池”等美誉。
                  除了高山景观，还可以在这里发
                  现各种不同的森林生态系统，以及石灰岩构造、瀑布和温泉。
                
              </p>
              <Button>READ MORE</Button>
          </div>
          <div id="box">

               <img  src="layout_images/17.jpg" alt="扎尕那">
              <h2>
                  扎尕那
              </h2>
              <p>
                  扎（zhā）尕（gǎ）那是天然石头城，位于甘肃省甘南藏族自治州迭部
                  县西北30余公里处的益哇乡的一座古城，藏语意为“石匣子”。地
                  形既像一座规模宏大的巨型宫殿，又似天然岩壁构筑。
                  扎尕那山势奇峻、云雾缭绕、宛如仙境。扎尕那是一座完整的天然“石城”大自然在此展现了她令人敬畏的力量。

              </p>
              <Button>READ MORE</Button>
          </div>
          <div id="box">
            <img  src="layout_images/21.jpg" alt="南浔">
              <h2>
                  南浔
              </h2>
              <p>
                  南浔古镇位于湖州市南浔区，地处江
                  浙两省交界处。明清时期为江南蚕丝名镇，是一个人文资源充足、中西建
                  筑合璧的江南古镇。南浔古镇素有“文化之邦”和“诗书之乡”之称，
                  出现过许多著名人物，如民国奇人张静江，
                  “西泠印社”发起人之一张石铭，著名诗人、散文家徐迟等。 
                  
              </p>
              <Button>READ MORE</Button>
          </div>
        </div class="flex">

 
  </body>
 </html>
